@function remy($value) {
  @return ($value / 16px) *1rem;
}
.cover-container {
  max-width: 20rem;
}
.btn-order {
  background-color: #931d53;
  box-shadow: 1px 6px 7px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  font-size: remy(23px);
  font-weight: 500;
  line-height: 24.52px;
  color: #fff;
  margin-bottom: 24px;
  text-transform: uppercase;
}
