@function remy($value) {
  @return ($value / 16px) *1rem;
}
.cover-container {
  width: 20rem;
}
.heading {
  font-size: remy(20px);
  font-weight: 400;
  line-height: 22.97px;
  color: #424242;
  text-transform: uppercase;
}
.btn-order {
  display: block;
  background-color: #931d53;
  box-shadow: 1px 6px 7px rgba(0, 0, 0, 0.66);
  font-size: remy(23px) !important;
  line-height: 24.52px;
  color: #fff;
  text-transform: uppercase;
  margin: 14px 22px 24px 22px;
}
