.consist {
  padding-top: 33px;
}
.consist-title {
  font-size: 15px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  color: #70bf04;
}
.consist-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  color: #494949;
}
