.expert {
  background: url(../img/bg-expert.jpg) top center no-repeat #568900;
  background-size: 100% auto;
  color: #fff;

  h3 {
    font-size: remy(16px);
    margin-bottom: 15px;
  }
}
.photo {
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 20px;
}
