.hero {
  height: 100vh;
  width: 100vw;
  background: url(../img/bg-hero.jpg) 50% 0 no-repeat #538500;
}
.header {
  margin-top: 16px;
}
.subtitle {
  color: #313131;
  font-size: remy(11px);
  font-weight: 500;
  line-height: 12.35px;
  text-transform: uppercase;
}
.btn-order {
  background-color: #931d53;
  box-shadow: 1px 6px 7px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  font-size: remy(23px);
  font-weight: 500;
  line-height: 24.52px;
  color: #fff;
  text-transform: uppercase;
}
